<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GOchat 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1C2733">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="GOchat">
    <link href="manifest.json" rel="manifest">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/fancybox.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <ul class="head_inner">
            <li class="head_item">
                <i class="material-icons">forum</i>
            </li>
            <li class="head_title">
                <h1>GOchat</h1>
                <div id="status"></div>
            </li>
        </ul>
    </header>

    <section id="chat"></section>

    <div class="quote_form">
        <div class="cancel_quote">
            <i class="material-icons">close</i>
        </div>

        <div class="quote_main">
            <div class="quote">
                <div class="message_user"></div>
                <div class="message_text"></div>
                <div class="quoteId none"></div>
            </div>
        </div>
    </div>
    <div class="message_form">
        <input type="file" id="avatarInput" accept="image/*" class="none">
        <input type="text" id="nameInput" placeholder="Name">
        <div class="input_bar">
            <input type="text" id="textInput" placeholder="Enter a message...">
            <label for="imageInput" class="attachment none" title="Send image">
                <i class="material-icons">image</i>
            </label>
            <input type="file" id="imageInput" accept="image/*" class="none">
        </div>
        <span id="send_message" class="write">
            <i class="material-icons">send</i>
        </span>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/fancybox.min.js"></script>
</body>
</html>
